body{
  background-color: #9FE62D;
}

.content{
  text-align: center;
}

table{
  margin-top: 1%;
  margin: 0 auto;
}

#message{
  text-align: center;
  font-size: 30pt;
}

table tr td{
  height: 150px;
  width: 150px;
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  font-size: 85pt;
}

button {
  margin-top: 1%;
  height: 80px;
  width: 270px;
  font-size: 20pt;
  background-color: #2DE676;
}